*{
    margin: 0;
    padding: 0;
}
body{
    background: #ADD8E6;
    font-family: arial;
    margin: 0;
    padding: 0;
}
.body img{
    width: 100%;
    max-width: 700px;
    margin: 20px 0;
}
.body p{
    text-align: justify;
}
nav{
    height: 60px;
    background: #6495ED;
    box-shadow: 0 10px 15px  rgba(0,0,0,0.1);
}
.logo{
    padding: 5px 0 0 80px;
    width: 150px;
    height: auto;
}
nav ul {
    padding: 0;
    margin: 0;
    float: right;
    margin-right: 30px;
}
nav ul li{
    background: #6495ED;
    position: relative;
    list-style: none;
    display: inline-block;
}
nav ul li a{
    display: block;
    padding: 0 15px;
    color: black;
    text-decoration: none;
    line-height: 60px;
    font-size: 20px;
}
nav ul li a:hover{
    background: #ADD8E6;
}
nav ul ul {
    position: absolute;
    top: 160px;
    display: none;
}
nav ul li: :hover > ul {
    display: block;
}
nav ul ul li{
    width: 150px;
    float: none;
    display: list-item;
    position: relative;
}
